input.ng-dirty.ng-touched.ng-invalid
{
  border: 1px solid red;
}

.invalid-input{
  color:red;
  font-size: smaller;
  font-weight: bold;
}

.container{
  border: 1px solid grey;
  box-shadow: lightsteelblue;
  border-radius: 5px;
  padding: 15px;
}
